.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 70px; /* Define a consistent height */
  }
  
  .header__left {
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    height: 40px;
    margin-right: 20px;
  }
  
  .header__search {
    width: 350px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid lightgray;
    background-color: #eef3f8;
    font-size: 14px;
  }
  
  .header__right {
    display: flex;
    align-items: center;
  }
  
  .header__right a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .header__right a:hover {
    color: #0073b1;
  }
  
  @media screen and (max-width: 768px) {
    .header__search {
      width: 180px;
    }
  
    .header__logo {
      height: 30px;
    }
  
    .header__right a {
      font-size: 12px;
    }
  }
  